/* Text Elements */

h1 {
  color: #fff;
  font-size: 45px;
  font-family: 'Cagliostro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
  padding-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  font-family: 'Cagliostro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h2.name-heading {
  padding-top: 60px;
  color: #f4d270;
  text-align: center;
}

h3 {
  color: #fff;
  font-weight: 400;
  font-family: 'Cagliostro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h3.blog-heading {
  margin-bottom: 1rem;
  border-bottom-width: .1875rem;
  border-bottom-style: dotted;
}

h4 {
  padding-top: 40px;
  color: #fff;
  font-family: 'Cagliostro', sans-serif;
}

h4.feature-heading {
  display: inline-block;
  padding-top: 10px;
  padding-left: 0;
  width: 80%;
}

p.paragraph {
  color: #fff;
  font-weight: 100;
  font-size: 19px;
  font-family: 'Quicksand', sans-serif;
}

p.paragraph.introduction-p {
  text-transform: capitalize;
  font-size: 22px;
}

p.paragraph.footer-fine-print {
  color: #74748c;
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

p.paragraph.address {
  padding-bottom: 30px;
  text-align: center;
}

p.paragraph.image-paragraph {
  padding-right: 15px;
  padding-left: 15px;
}

a.link-text.dropdown-item {
  color: #fff;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}

a.link-text.footer-nav-link {
  margin-right: 8px;
  margin-left: 8px;
  color: rgba(244, 210, 112, .82);
  vertical-align: middle;
  font-family: 'Quicksand', sans-serif;
}

a.link-text.dropdown-item:hover {
  background-color: transparent;
  color: rgba(244, 210, 112, .82);
}

a.link-text.footer-nav-link:hover {
  color: #fff;
}

/* Interaction Elements */

a.link-button.btn {
  margin-top: 20px;
  border-color: #fff;
  color: #fff;
  font-family: 'Cagliostro', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a.link-button.btn.btn-lg.btn-outline-primary {
  border-width: .125rem;
  border-color: rgba(136, 82, 131, .93);
  font-weight: 100;
}

a.link-button.btn-lg {
  width: 200px;
  font-family: 'Quicksand', sans-serif;
}

a.link-button.btn.btn-outline-primary.btn-small {
  border-width: .125rem;
  border-color: #885283;
  font-weight: 100;
}

a.link-button.btn-small {
  width: 150px;
  font-family: 'Quicksand', sans-serif;
}

a.link-button.btn:hover {
  background-color: #885283;
}

/* Layout Elements */

body.body-1 {
  background-color: #212121;
}

.link-container.overlay-container {
  min-height: 340px;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-image:    -moz-linear-gradient(top, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-image:      -o-linear-gradient(top, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-image:         linear-gradient(180deg, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.link-container#item-1 {
  background-image: -webkit-linear-gradient(top, rgba(255, 180, 78, .9) 0%, rgba(255, 180, 78, .9) 100%);
  background-image:    -moz-linear-gradient(top, rgba(255, 180, 78, .9) 0%, rgba(255, 180, 78, .9) 100%);
  background-image:      -o-linear-gradient(top, rgba(255, 180, 78, .9) 0%, rgba(255, 180, 78, .9) 100%);
  background-image:         linear-gradient(180deg, rgba(255, 180, 78, .9) 0%, rgba(255, 180, 78, .9) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.link-container#item-2 {
  background-image: -webkit-linear-gradient(top, rgba(23, 146, 196, .9) 0%, rgba(23, 146, 196, .9) 100%);
  background-image:    -moz-linear-gradient(top, rgba(23, 146, 196, .9) 0%, rgba(23, 146, 196, .9) 100%);
  background-image:      -o-linear-gradient(top, rgba(23, 146, 196, .9) 0%, rgba(23, 146, 196, .9) 100%);
  background-image:         linear-gradient(180deg, rgba(23, 146, 196, .9) 0%, rgba(23, 146, 196, .9) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.link-container#item-5 {
  background-image: -webkit-linear-gradient(top, rgba(96, 76, 69, .9) 0%, rgba(96, 76, 69, .9) 100%);
  background-image:    -moz-linear-gradient(top, rgba(96, 76, 69, .9) 0%, rgba(96, 76, 69, .9) 100%);
  background-image:      -o-linear-gradient(top, rgba(96, 76, 69, .9) 0%, rgba(96, 76, 69, .9) 100%);
  background-image:         linear-gradient(180deg, rgba(96, 76, 69, .9) 0%, rgba(96, 76, 69, .9) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.link-container#item-6 {
  background-image: -webkit-linear-gradient(top, rgba(56, 133, 70, .9) 0%, rgba(56, 133, 70, .9) 100%);
  background-image:    -moz-linear-gradient(top, rgba(56, 133, 70, .9) 0%, rgba(56, 133, 70, .9) 100%);
  background-image:      -o-linear-gradient(top, rgba(56, 133, 70, .9) 0%, rgba(56, 133, 70, .9) 100%);
  background-image:         linear-gradient(180deg, rgba(56, 133, 70, .9) 0%, rgba(56, 133, 70, .9) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.link-container#item-3 {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-image:    -moz-linear-gradient(bottom, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-image:      -o-linear-gradient(bottom, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-image:         linear-gradient(0deg, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.link-container#item-4 {
  background-image: -webkit-linear-gradient(top, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
  background-image:    -moz-linear-gradient(top, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
  background-image:      -o-linear-gradient(top, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
  background-image:         linear-gradient(180deg, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.link-container.overlay-container:hover {
  text-decoration: none;
}

.link-container#item-1:hover {
  opacity: 0;
  -webkit-transition-duration: 2s;
     -moz-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.link-container#item-2:hover {
  opacity: 0;
  -webkit-transition-duration: 2s;
     -moz-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

.link-container#item-5:hover {
  opacity: 0;
  -webkit-transition-duration: 2s;
     -moz-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

.link-container#item-6:hover {
  opacity: 0;
  -webkit-transition-duration: 2s;
     -moz-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

.link-container#item-3:hover {
  opacity: 0;
  -webkit-transition-duration: 2s;
     -moz-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

.link-container#item-4:hover {
  opacity: 0;
  -webkit-transition-duration: 2s;
     -moz-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
}

.rule hr {
  border-top-width: 3px;
  border-top-color: #fff;
}

.container-grid.header-container {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1000px;
}

.rule.thin-row hr {
  border-top-width: 2px;
}

.rule.thin-row {
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 0;
  width: 30%;
}

.container-grid.info-row {
  background-color: #2c2c4b;
}

.rule {
  padding-bottom: 20px;
  width: 90%;
}

.container-grid.background-image {
  margin: 2px;
  padding: 0;
  min-height: 340px;
  width: 100%;
  background-image: url('../images/manila.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid#image-1 {
  background-image: url('../images/flower-child.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-grid#image-2 {
  background-image: url('../images/tech3.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-grid#image-5 {
  background-image: url('../images/sitting-girl.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-grid#image-6 {
  background-image: url('../images/ducks.jpg');
  background-attachment: scroll;
  background-position: center top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

a.social-image {
  max-width: 35px;
  width: 100px;
  background-color: transparent;
}

.container-grid {
  padding: 15px;
}

.container-grid.info-container {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1000px;
}

.container-grid.story-column {
  background-color: #35355b;
}

.container-grid.story-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-grid#flex-item-3 {
  background-image: url('../images/woman-photographer.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.rule.bottom-padding {
  padding-bottom: 50px;
}

.container-grid.dropdown-menu {
  background-color: transparent;
}

a.glyph.btn.btn-secondary {
  color: #fff;
  font-size: 22px;
}

a.glyph.btn.btn-secondary.dropdown-toggle {
  border-color: rgba(204, 204, 204, .15);
  background-color: transparent;
  font-size: 25px;
}

.container-grid.dropdown-menu.dropdown-menu-right {
  border-width: 0;
  border-style: none;
  border-radius: 0;
}

.container-grid.nav-top-space {
  padding-top: 0;
}

.container-grid.btn-group.nav-container {
  padding-bottom: 0;
}

.container-grid.column-type {
  margin-left: 0;
  padding-top: 30px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #021533;
}

.html-element.google-map {
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  max-width: 800px;
}

.container-grid#services {
  background-image: -webkit-linear-gradient(top, rgba(244, 210, 112, 0) 0%, rgba(86, 71, 37, .27) 100%), url('../images/girl-lying-on-the-grass.jpg');
  background-image:    -moz-linear-gradient(top, rgba(244, 210, 112, 0) 0%, rgba(86, 71, 37, .27) 100%), url('../images/girl-lying-on-the-grass.jpg');
  background-image:      -o-linear-gradient(top, rgba(244, 210, 112, 0) 0%, rgba(86, 71, 37, .27) 100%), url('../images/girl-lying-on-the-grass.jpg');
  background-image:         linear-gradient(180deg, rgba(244, 210, 112, 0) 0%, rgba(86, 71, 37, .27) 100%), url('../images/girl-lying-on-the-grass.jpg');
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;
}

.container-grid.multiple-images-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

div.responsive-picture.portfolio-image {
  max-width: none;
}

.container-grid.text-column {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #021533;
}

.container-grid.image-strip {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

span.glyph {
  display: inline-block;
  padding-top: 40px;
  width: 10%;
  color: #f4d270;
  font-size: 30px;
}

.rule.no-pad {
  padding-right: 0;
  padding-left: 0;
}

.container-grid.less-top-pad {
  padding-top: 0;
}

.container-grid.header {
  background-image: -webkit-linear-gradient(top, rgba(20, 6, 141, .13) 0%, rgba(7, 0, 73, 1) 100%), url('../images/tech.jpg');
  background-image:    -moz-linear-gradient(top, rgba(20, 6, 141, .13) 0%, rgba(7, 0, 73, 1) 100%), url('../images/tech.jpg');
  background-image:      -o-linear-gradient(top, rgba(20, 6, 141, .13) 0%, rgba(7, 0, 73, 1) 100%), url('../images/tech.jpg');
  background-image:         linear-gradient(180deg, rgba(20, 6, 141, .13) 0%, rgba(7, 0, 73, 1) 100%), url('../images/tech.jpg');
  background-attachment: scroll, scroll;
  background-position: left top, center top;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;
}

.container-grid.show-3-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin: 2px;
  padding: 0;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container-grid.show-2-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin: 2px;
  padding: 0;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container-grid#image-3 {
  background-image: url('../images/vw-camper.jpg');
  background-attachment: scroll;
  background-position: center top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-grid#image-4 {
  background-image: url('../images/manila.jpg');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  padding-top: 40px;
  width: 100%;
  background-color: #021533;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container-grid.copyright {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: #021533;
}

.container-grid.sitename {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.container-grid.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  padding-top: 10px;
  background-color: transparent;
}

.container-grid.page-title-row {
  background-image: url('../images/hiker.jpg');
  background-attachment: scroll;
  background-position: 50% 50%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.page-heading {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.container-grid.story-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  padding: 0;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.story-img {
  padding: 0;
  width: 100%;
  height: 400px;
  background-image: url('../images/beach-swing.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.story-img-2 {
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  background-image: url('../images/girl-with-horse.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.story-img-3 {
  padding: 0;
  width: 100%;
  height: 400px;
  background-image: url('../images/beach-swing.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

div.responsive-picture.blog-image {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, .5) 5px 5px 10px 0;
}

.container-grid.multi-column-container {
  margin-bottom: 50px;
  max-width: 1400px;
}

.container-grid.page-title {
  background-image: url('../images/hiker.jpg');
  background-attachment: scroll;
  background-position: 50% 50%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.text-container {
  padding: 0;
}

.container-grid.text-inner {
  margin-left: 0;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  background-color: #021533;
}

.container-grid.less-top-pad.text-container {
  padding-right: 0;
  padding-left: 0;
}

.container-grid.card-container {
  padding-top: 50px;
  background-color: #2c2c4b;
}

.container-grid.card-container-inner {
  margin-left: 0;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  background-color: #021533;
}

.container-grid.card-wide {
  margin-left: 0;
  padding-top: 30px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #021533;
}

.container-grid.card {
  margin-left: 0;
  padding-top: 30px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #021533;
}

.container-grid.contact-section {
  margin-left: 0;
  padding-top: 30px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #021533;
}

a.glyph.btn.btn-secondary.dropdown-toggle:hover {
  font-size: 20px;
}

@media screen and (min-width: 36rem) {
  /* Text Elements */

  h4.feature-heading {
    padding-left: 0;
  }

  a.link-text.dropdown-item {
    font-size: 18px;
  }

  /* Layout Elements */

  .link-container.overlay-container {
    background-image: -webkit-linear-gradient(bottom, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
    background-image:    -moz-linear-gradient(bottom, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
    background-image:      -o-linear-gradient(bottom, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
    background-image:         linear-gradient(0deg, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
  }

  .link-container#item-4 {
    background-image: -webkit-linear-gradient(bottom, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
    background-image:    -moz-linear-gradient(bottom, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
    background-image:      -o-linear-gradient(bottom, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
    background-image:         linear-gradient(0deg, rgba(128, 50, 128, .8) 0%, rgba(128, 50, 128, .8) 100%);
  }

  .link-container#item-3 {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
    background-image:    -moz-linear-gradient(bottom, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
    background-image:      -o-linear-gradient(bottom, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
    background-image:         linear-gradient(0deg, rgba(0, 64, 69, .9) 0%, rgba(0, 64, 69, .9) 100%);
  }

  .container-grid.story-container {
    padding-bottom: 40px;
    height: 100%;
  }

  .container-grid.story-column {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    min-height: 540px;
    width: 50%;
    height: auto;
  }

  .container-grid#flex-item-2 {
    -ms-flex-order: 1;

    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
            order: 1;
  }

  .container-grid.nav-container {
    padding-top: 0;
    max-width: 1200px;
  }

  .container-grid.multiple-images-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container-grid.image-strip {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  span.glyph.smaller-space-icon {
    width: 5%;
  }

  a.glyph.btn.btn-secondary.dropdown-toggle {
    font-size: 30px;
    line-height: 1;
  }

  .container-grid.background-image {
    width: 50%;
  }

  .container-grid.show-3-2 {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container-grid.show-2-3 {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container-grid#image-4 {
    background-position: 50% 50%;
  }

  .container-grid#image-3 {
    background-image: url('../images/vw-camper.jpg');
  }

  .container-grid.container-fluid.info-container {
    padding-top: 50px;
  }

  .container-grid.footer {
    padding-top: 50px;
    padding-bottom: 30px;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container-grid.container-fluid {
    width: auto;
  }

  .container-grid.nav {
    display: block;
  }

  .container-grid.page-title-row {
    min-height: 600px;
  }

  .container-grid.story-holder {
    height: 100%;
  }

  .container-grid.story-img {
    width: 50%;
    height: 540px;
  }

  .container-grid.story-img-2 {
    width: 50%;
    height: 540px;
  }

  .container-grid.container-fluid.story-container {
    width: 100%;
  }

  .container-grid.column-type.story-column {
    width: 50%;
  }

  .container-grid.story-img-3 {
    width: 50%;
    height: 540px;
  }

  .container-grid.multi-column-container {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }

  .container-grid.page-title {
    min-height: 600px;
  }

  .container-grid.card-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container-grid.card {
    width: 50%;
  }

  .container-grid.card-container-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container-grid.header {
    min-height: 600px;
  }

  .container-grid.container-fluid.header-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  a.glyph.btn.btn-secondary.dropdown-toggle:hover {
    font-size: 30px;
  }
}

@media screen and (min-width: 48rem) {
  .container-grid.header-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .container-grid.info-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .container-grid#services {
    background-attachment: scroll, scroll;
  }

  .container-grid#image-1 {
    width: 66.66%;
  }

  .container-grid#image-2 {
    width: 33.33%;
  }

  .container-grid.background-image {
    width: 50%;
  }

  .container-grid#image-3 {
    width: 33.33%;
  }

  .container-grid#image-4 {
    width: 66.66%;
  }

  .container-grid#image-5 {
    width: 66.66%;
  }

  .container-grid#image-6 {
    width: 33.33%;
  }

  .container-grid.page-title-row {
    min-height: 700px;
  }

  .container-grid.page-title {
    min-height: 700px;
  }

  .container-grid.header {
    min-height: 700px;
  }
}

@media screen and (min-width: 62rem) {
  /* Text Elements */

  h2.heading-1 {
    padding-top: 50px;
  }

  span.glyph.smaller-space-icon {
    width: 10%;
  }

  .container-grid.footer {
    -ms-flex-pack: distribute;

    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .container-grid.container-fluid {
    width: auto;
  }

  .container-grid.page-title-row {
    min-height: 800px;
  }

  .container-grid.multi-column-container {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  .container-grid.page-title {
    min-height: 800px;
  }

  .rule.bottom-padding.thin-row {
    padding-bottom: 20px;
  }

  .container-grid.text-column {
    background-color: #021533;
  }

  .container-grid.header {
    min-height: 800px;
  }
}

@media screen and (min-width: 75rem) {
  /* Text Elements */

  h1 span.heading-text-1 {
    font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  }

  h2.less-top-pad {
    padding-top: 0;
  }

  h2.heading-1 {
    padding-top: 40px;
  }

  h3.blog-heading {
    margin-bottom: 1rem;
  }

  .container-grid.story-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-grid.footer {
    background-color: #021533;
  }

  .container-grid.nav {
    background-color: transparent;
  }

  .container-grid.story-img {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-grid.story-img-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-grid.story-holder {
    padding: 0;
  }

  .container-grid.story-img-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container-grid.container-fluid.multi-column-container {
    margin-bottom: 0;
    padding: 25px 15px 30px;
  }

  .container-grid.text-container {
    padding: 0;
  }

  .rule.bottom-padding.thin-row {
    padding-bottom: 40px;
  }

  .container-grid.text-inner {
    padding-bottom: 0;
  }

  .container-grid.background-image {
    background-position: center center;
    background-size: cover;
  }
}